<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Results | I_AMVOCAL</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>
	<section id="section_body" >
		<div id="background_section" style="height: 200px;">
			<div class="container valign-wrapper padd-20 font-big-light">
	  			<h4 class="light-b">Polls result page</h4>
			</div>
		</div>
		<div class="container" style="margin-top: -70px;">
			<div class="card horizontal" style="height:100%; margin-top: 20px; margin-bottom: 160px">
				
				<div class="card-stacked">
			        <div class="card-content">
			        	<div class="row">
			        		<% if(results.length) { %>
			        			<% for (var i = 0; i < results.length; i++) { %>
									<div class="col s12 l12">
										<!-- poll demo data -->
										<div class="card card--hover horizontal card-poll">
											<div class="card-stacked">
												<div class="container">
													<div class="row">
														<div class="col s12 l10">
															<h6 class="poll--title"></h6>
															<span class="poll--sub">
																<%- results[i]['name'] %>
															</span> <hr ><br>
															<span class="poll--sub">
																<%- results[i]['description'] %>
															</span><hr>
															<!-- poll details -->
															<div class="poll--details">
																<div class="row">
																	<div class="col s12 l3">
																		<span class="poll--details-icon">
																			<i class="tiny icon-padd material-icons">date_range</i> <b> Start date: </b> <%- results[i]['startDate'] %>
																		</span>	
																	</div>

																	<div class="col s12 l3">
																		<span class="poll--details-icon">
																			<i class="tiny icon-padd material-icons">date_range</i> <b> Start date: </b> <%- results[i]['endDate'] %>
																		</span>	
																	</div>

																	<div class="col s12 l3">
																		<span class="poll--details-icon">
																			<i class="tiny icon-padd material-icons">access_time</i><b> Start time: </b> <%- results[i]['startAt'] %>
																		</span>
																		
																	</div>

																	<div class="col s12 l3">
																		<span class="poll--details-icon">
																			<i class="tiny icon-padd material-icons">access_alarm</i><b> End time: </b> <%- results[i]['endAt'] %>
																		</span>
																		
																	</div>
																</div>
															</div>
															<!-- end -->
														</div>

														<div class="col s12 l2">
															<a href="/results?pollId=<%- results[i]['pollId'] %> " class="btn btn-small btn--margin-top btn-normal">View</a>
														</div>
													</div>
													
												</div>
											</div>
										</div>
										<!-- end poll data-->
									</div>
								<% } %>
							<% } %> 
							<% if(!results.length) { %>
								<p> There are no results at the moment </p>
							<% } %>
			        	</div>
			        	</div>
			        </div>


			    </div>

			</div>
		</div>

	</section>

	<!-- footer section -->
	<% include includes/footer %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>

<script type="text/javascript" src="assets/custom/style.js"></script>
</body>

</html>